* {
    border: 1px solid red;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #4A4A4A;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.row-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
}

.row-menu li a {
    text-decoration: none;
    color: #333;
}

.box-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8D8D8;
}

.image1 {
    width: 60%;
    padding: 32px 24px;
}

img[src*="banner"] {
    width: 100%;
    object-fit: cover;
}

.lorem {
    text-align: left;
    width: 40%;
}

button {
    width: 100%;
    height: auto;
    background-color: #4A4A4A;
    color: white;
}

