* {
    border: 1px solid red;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.row-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
}

.row-menu li a {
    text-decoration: none;
    color: #333;
}

.box-one {
    display: flex;
}

img[src*="banner"] {
    width: 60%;
}